<<!doctype html>
<html>
    <head>
    	<title>MySql Test</title>
        
    </head>
    <body>
     
        <h1>Test</h1>

       <%for (let i = 0; i < result.length; i++){%>
      		 <li><%= results[i].orderNumber%></li>
      	<%}%>

      	<tr>
			<td><%= results.[i].customerNumber%></td>
			<td><%= results.[i].customerName%></td>
			<td><%= results.[i].customphone%></td>


      	</tr>	

    </body>
</html>